{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:node/recommended"
    ],
    "rules": {
        "node/exports-style": ["error", "module.exports"]
    }
}