<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document

  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
  script.

    var socket = io();
    //- socket.emit('new idea', { description: 'asdfewfqasdf', creator: '5b287d06e3796f038bd48b07'});

    //- socket.emit('join room', { idea: '5b29290a79e36b0153c7a40f', participant: '5b287d06e3796f038bd48b08' });

    //- socket.on('joined room', (data) => {
    //-   console.log(data);
    //-   console.log('joined room')
    //- });

    //- socket.emit('leave room', { idea: '5b29290a79e36b0153c7a40f', participant: '5b287d06e3796f038bd48b08' });

    //- socket.on('left room', (data) => {
    //-   console.log(data);
    //-   console.log('left room')
    //- });

    //- socket.on('new idea was made', (data) => {
    //-   console.log(data);
    //-   console.log('idea was made')
    //- });

    
    //- socket.on('phase timer', data => {
    //-   console.log(data);
    //- })

    //- socket.emit('phase start', { ideaId: '5b29290a79e36b0153c7a40f', countdown: 3000 });

    //- socket.on('end phase', data => {
    //-   console.log(data);
    //- })
    
    //- socket.on('end game', data => {
    //-   console.log(data);
    //- })

    //- socket.emit('intermission');
    
    //- socket.on('intermission timer', data => {
    //-   console.log('intermission timer', data);
    //- })

    //- socket.on('end intermission', () => {
    //-   console.log('end intermission');
    //- })

    socket.on('added thought', data => {
      console.log(data, 'added thgouht')
      // dispatch here
    })

  body